/* Styling for the Summarize button */
#summarize-btn {
    background-color: #be2828; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}
  
  /* Styling for the summary div */
#summary {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #686666;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;  
}
